---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "yoko",
  country: "Japan",
  occupation: "Web creator",
  hobbies: ["photography", "video creation", "singing"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "NextJs",
  "Astro",
  "Writing Docs",
];
const operatingSystem = "macOS";
const quantity = 3;
const footwear = "sandals";
const student = false;
const skillColor = "navy";
---

<body>
  <Layout title={pageTitle}>
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <main>
      <h1>{pageTitle}</h1>
      <h2>... and my new Astro site!</h2>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 3 && (
            <li>
              Three of my hobbies are: {identity.hobbies[0]},
              {identity.hobbies[1]}, and {identity.hobbies[2]}
            </li>
          )
        }
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>

      {student && <p>I am still in school.</p>}

      <p>I have {quantity + 8} pairs of {footwear}</p>

      {
        operatingSystem === "macOS" ? (
          <p>I am using a Mac.</p>
        ) : (
          <p>I am not using a Mac.</p>
        )
      }
    </main>
  </Layout>
</body>
<style >
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .skill {
    color: green;
    font-weight: semi-bold;
  }
</style>
