---
import { EVENT_INFO } from "src/consts";
import MyH2Title from "./MyTitles/MyH2Title.astro";
---

<div class="mt-24">
  <MyH2Title MyTitle={EVENT_INFO.title}/>
    <p
      class="max-w-screen-md dark:text-slate-400 text-gray-500 md:text-lg text-center mx-auto"
    >
      {EVENT_INFO.subtitle}
    </p>
  </div>
  <div class="flex justify-center p-12 neumorphism-dent mt-16">
    <div class="grid gid-cols-1 sm:grid-cols-2 gap-8 max-w-2xl">
      <img src={EVENT_INFO.one} alt="" width={EVENT_INFO.width} class="neumorphism" />
      <img src={EVENT_INFO.two} alt="" width={EVENT_INFO.width} class="neumorphism" />
      <img src={EVENT_INFO.three} alt="" width={EVENT_INFO.width} class="neumorphism" />
      <img src={EVENT_INFO.four} alt="" width={EVENT_INFO.width} class="neumorphism" />
    </div>
</div>

<style>
  .neumorphism {
    border-radius: 5px;
    background: #5d4242;
    box-shadow: 25px 25px 41px #625e5e, -25px 25px 41px #fdfdfd;
  }
  .neumorphism-dent {
    border-radius: 5px;
    background: #eceaea;
    box-shadow: inset 25px 25px 60px #cdcccc, inset -25px -25px 60px #ffffff;
  }
</style>
